# TP1 data
TP1/data/*

# fichier d'IDE
TP1/.idea/*

# cache python
*/__pycache__/*
*/.ipynb_checkpoints/*
TP2/.ipynb_checkpoints/*

# fichier pdf

*.pdf

# TP2 data
TP2/data/*

# fichier d'IDE
TP2/.idea/*
